{% extends 'base.html' %}
{% block title %}Legg til en oppskrift{% endblock %}
{% block heading %}Legg til en oppskrift{% endblock %}
{% block description %}Legg til oppskrift og matrett her. Matrettene havner i arkivet og kan legges til i ukesmenyen ved et s
senere tidspunkt!{% endblock %}

{% block content %}
<div class="container" style="max-width: 800px">

        <form method="POST" action="{{ url_for('recipes.legg_til_rett') }}" class="row">
            {{ form.csrf_token }}

            <div class="form-group 50 p-3">
                {{ form.dish(class="form-control",placeholder="navn på rett") }}
            </div>

            <div class="form-group 50 p-3">
                {{ form.short_desc(class="form-control",placeholder="kort beskrivelse") }}
            </div>

            <div class="form-group 50 p-3">
                {{ form.long_desc(class="form-control",placeholder="lang beskrivelse - hvordann lager man denne retten?") }}
            </div>

            <div class="form-group w-100 p-3">
                {{ form.submit(class_="btn btn-success") }}
            </div>

        </form>



        <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Ingrediens</th>
                    <th>Enhet</th>
                </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                    <tr>
                        <td>{{ ingredient[0].ingredientName }}</td>
                        <td>{{ ingredient[1].unit }}</td>
                        <td>
                            <a  href="/legg-til-rett/{{ ingredient[0].ingredientName }}/5555/{{ ingredient[1].unit }}" type="button" class="btn btn-outline-primary btn-sm" ><i class="bi bi-plus"></i></a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
        </table>

    </div>

{% endblock %}