{% extends 'base.html' %}
{% block title %}Legg til en oppskrift{% endblock %}
{% block heading %}Legg til en oppskrift{% endblock %}
{% block description %}Legg til oppskrift og matrett her. Matrettene havner i arkivet og kan legges til i ukesmenyen ved et s
senere tidspunkt!{% endblock %}

{% block content %}
<div class="container" style="max-width: 800px">

        <form method="POST" action="{{ url_for('recipes.legg_til_rett') }}" class="row">
            {{ form.csrf_token }}

            <div class="form-group p-3">
                {{ form.dish(class="form-control",placeholder="navn på rett") }}
            </div>

            <div class="form-group p-3">
                {{ form.short_desc(class="form-control",placeholder="kort beskrivelse") }}
            </div>

            <div class="form-group p-3">
                {{ form.long_desc(class="form-control",placeholder="lang beskrivelse - hvordann lager man denne retten?") }}
            </div>

            <div class="form-group p-3">
                {{ form.ingredienser(class="form-control",placeholder="ingredientzz") }}
            </div>

            <div class="form-group w-100 p-3">
                {{ form.submit(class_="btn btn-success") }}
            </div>

        </form>



        <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Ingrediens</th>
                    <th>Enhet</th>
                    <th>Mengde</th>

                </tr>
                </thead>
                <tbody>
                {% for ingredient in ingredients %}
                    <tr>
                        <td class=" w-50 ">
                            {{ ingredient[0].ingredientName }}
                        </td>

                        <td class=" w-25 ">
                            <input type="number" id="{{ loop.index }}-quantityForm" class="form-control" min="0" steps="0.1" />
                        </td>

                        <td class=" w-auto ">
                            {{ ingredient[1].unit }}
                        </td>



                        <td class=" w-auto ">
                            <button  id="{{ loop.index }}-addToList" type="button" class="btn btn-outline-primary btn-sm" ><i class="bi bi-plus"></i></button>
                            <button  id="{{ loop.index }}-removeFromList" type="button" class="btn btn-outline-primary btn-sm" style="display: none"><i class="bi-trash"></i></button>
                        </td>



                    <script>
                          document.getElementById("{{ loop.index }}-addToList").onclick = function() {
                                document.getElementById('{{ loop.index }}-removeFromList').style.cssText = 'display: inline-block; border-color: red; color: red;';
                                document.getElementById('{{ loop.index }}-addToList').style.cssText = 'display: none;';
                              var getQuantity = document.getElementById('{{ loop.index }}-quantityForm').value;
                          document.getElementById('ingredienser').value += "{{ ingredient[0].ingredientName }}," + getQuantity + ",{{ ingredient[1].unit }}" + "|";

                          }

                          document.getElementById("{{ loop.index }}-removeFromList").onclick = function() {
                                document.getElementById('{{ loop.index }}-removeFromList').style.cssText = 'display: none;';
                                document.getElementById('{{ loop.index }}-addToList').style.cssText = 'display: inline-block;';
                                document.getElementById('{{ loop.index }}-quantityForm').value="";
                          document.getElementById('ingredienser').value += "{{ ingredient[0].ingredientName }}," + "0," + "{{ ingredient[1].unit }}" + "|";

                          }


                    </script>


                    </tr>

                {% endfor %}
                </tbody>
        </table>

    </div>

{% endblock %}