
<nav class="navbar navbar-expand-lg navbar-dark p-3 mb-4">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


        <a class="navbar-brand" href="{{ url_for('index') }}">Munchbase</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul id="navigation" class="navbar-nav mr-auto">

            {% if current_user.is_authenticated %}

            <li class="nav-item"><a class="nav-link" href="{{ url_for('recipes.oppskrifter') }}">Oppskrifter</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('ingredient.new') }}">Ingredienser</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('handleliste') }}">Handleliste</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('ukesmeny') }}">Ukesmeny</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('legg_til_rett') }}">Legg til rett</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.profil') }}">Min profil</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.groupadmin') }}">Gruppeadministrasjon</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logg ut</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
    </ul>

        </div>
    </nav>


