{% extends 'base.html' %}
{% block title %}AddWeekly{% endblock %}
{% block heading %}Legg til ukesmeny{% endblock %}
{% block description %}For gruppe {{ session.get('groupname_to_use') }}{% endblock %}

{% block content %}

    <h1>Du har ingen ukesmenyer registrert</h1>
    <h3>Legg til en ukesmeny!</h3>

    <form method="POST"  action="{{ url_for('weeklyMenu.legg_til_ukesmeny') }}" class="row">
                                        {{ form.csrf_token }}

                                        <div class="row mb-3 g-2 justify-content-center">
                                            <div class="col-sm-9">
                                                {{ form.weekly_name.label(class_="col-form-label") }}
                                                {{ form.weekly_name(class="form-control") }}
                                            </div>
                                        </div>

                                        <div class="row mb-3 g-2 justify-content-center">

                                            <div class="col-sm-9">
                                                {{ form.weekly_desc.label(class_="col-form-label") }}
                                                {{ form.weekly_desc(class="form-control") }}
                                            </div>
                                        </div>


                                        <div class="modal-footer border-0">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            {{ form.submit(class_="btn btn-primary") }}

                                        </div>
                                    </form>
{% endblock %}



