{% extends 'base.html' %}
{% block title %}AddWeekly{% endblock %}
{% block heading %}Legg til ukesmeny{% endblock %}
{% block description %}For gruppe {{ session.get('groupname_to_use') }}{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row align-items-center">
            <div class="card p-2 m-auto" style="width: 50%;">
                <form method="POST" action="{{ url_for('weeklyMenu.legg_til_ukesmeny') }}" class="row">
                    {{ form.csrf_token }}

                    <div class="row mb-3 g-2 justify-content-center">
                        <div class="col-sm-2">
                            {{ form.weekly_name.label(class_="col-form-label") }}
                        </div>
                        <div class="col-sm-9">
                            {{ form.weekly_name(class="form-control")}}
                        </div>
                    </div>

                    <div class="row mb-3 g-2 justify-content-center">
                        <div class="col-sm-2">
                            {{ form.weekly_desc.label(class_="col-form-label") }}
                        </div>
                        <div class="col-sm-9">
                            {{ form.weekly_desc(class="form-control")}}
                        </div>
                    </div>

                    <div class="col-sm-2">
                        {{ form.submit(class_="btn btn-success") }}
                    </div>
                </form>
            </div>
        </div>
    </div>






{% endblock %}