{% extends 'base.html' %}
{% block title %}{{rec.name}}{% endblock %}
{% block heading %}{{rec.name}}{% endblock %}
{% block description %}{{rec.shortDescription}} {% endblock %}
{% block content %}



        <form method="post" class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr style="color:rgb(0,0,0);">
                            <th>Produkt</th>
                            <th class="justify-content-end">Enhet</th>
                            <th>Antall</th>
                            <th>Enhets Pris</th>
                            <th>Sum Pris</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr style="color:rgb(11,11,11);">
                            <td>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1">Brød</label></div>
                            </td>
                            <td>{{rec.name}}</td>
                            <td>{{rec.shortDescription}}</td>
                            <td>90</td>
                            <td>2 160</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <div class="container"><input class="form-control-sm justify-content-center" type="email" name="email" value="1" placeholder="Legg in antall" style="height:35px;width:70px;margin-right:7px;">
            <button class="btn btn-dark justify-content-center" type="submit">Antall</button>
            <button class="btn btn-dark float-right" type="button">Legg til i ukesmeny</button>
            <button class="btn btn-dark float-right" type="button">Legg til ingrediens</button>
        </div>
{% endblock %}