{% extends 'base.html' %}
{% block title %}Min profil{% endblock %}
{% block heading %}Min profil{% endblock %}
{% block description %}Profilside for {{ current_user.username }}{% endblock %}
{% block content %}
{% include 'flash_messages.html' %}
     {% if current_user.is_authenticated and session.get('groupname_to_use') != ""  %}
    <div class="container" style="max-width: 1000px;">
    <h1 class="fw-light"></h1>
    </div>
         <form method="POST" action="{{ url_for('auth.profil') }}" class="row">
            {{ form.csrf_token }}
            <div class="form-group w-25 p-3">{{ form.idOgNavn(class="form-select", onchange="submit()")}}</div>
        </form>

    <h1 class="fw-light">Grupper du er medlem i:</h1>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Gruppe</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
      {% for i in groups %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    Du er ikke med i noen gruppe. Du kan bli med i en gruppe ved at noen inviterer deg ved brukernavnet ditt ({{ current_user.username }}), eller at du oppretter en egen gruppe i gruppeadministrasjon.
    {% endif %}


    <br>
    <br>
    <h1 class="fw-light">Invitasjoner:</h1>
    {% if invitations %}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Gruppe</th>
          <th>Rolle</th>
        </tr>
      </thead>
      <tbody>
      {% for i in invitations %}
        <tr>
            <td>{{ i[0].groupName }}</td>
            <td>{{ i[2].userTypeName }}</td>
            <td><a href="{{ url_for('auth.response', usergroup=i[0].iduserGroup, response=1) }}"><button type="button" class="btn btn-success">Aksepter</button></a></td>
            <td><a href="{{ url_for('auth.response', usergroup=i[0].iduserGroup, response=2) }}"><button type="button" class="btn btn-danger">Avslå</button></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h2 class="fw-light">Ingen ventende invitasjoner</h2>
    {% endif %}

{% endblock %}