{% extends 'index.html' %}
{% block title %}Rapporter{% endblock %}
{% block heading %}Dine rapporter{% endblock %}
{% block content %}
<table class="table table-striped table-hover">
{% if menus[0] %}
<h4>Forbruk per ingrediens</h4>
<br>
<h6>Ukemenyer:</h6>
{% for menu in menus %}
    <span class="badge badge-secondary"><a href="{{ url_for('reports.ingredients_used_per_week', weeknum=menu[1].weekNumber, year=menu[1].year , menu=menu[0].idWeeklyMenu) }}">{{ menu[1].weekNumber }} - {{ menu[0].name }}</a></span>
{% endfor %}
<br>
<br>
{% if report[0] %}
<h6>Ukens oppskrifter:</h6>
{% for recipe in recipes %}
    <span class="badge badge-secondary"><a href="{{ url_for('reports.ingredients_used_per_week', weeknum=recipe[2].weekNumber, year=recipe[2].year, recipe=recipe[0].idRecipe) }}">{{ recipe[0].name }}</a></span>
{% endfor %}
<br>
<br>
<h3>{{ report[1].Ukemeny }} :
    {% if perRecipe %}
        {{ report[1].Oppskrift }}
    {% else %} Sum for uken
    {% endif %}
</h3>
    <thead>
    <tr>
        <th>Vare</th>
        <th>Forbruk</th>
        <th>Enhet</th>
        <th>Pris </th>
        <th>Kostnad</th>
    </tr>
    </thead>
    <tbody>
    {% for i in report %}
        <tr>
            <td>{{ i.Ingrediens }}</td>
            <td>{{ i.SumMengde }}</td>
            <td>{{ i.Enhet }}</td>
            <td>{{ i.Pris }}</td>
            <td>{{ i.SumBelop }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Total kostnad: {{ totalcost }} </h5>
    {% else %}
    <h2>Velg en ukemeny for å se rapporter</h2>
    {% endif %}
{% else %}
    <h2>Du har ingen ukesmenyer knyttet til en uke</h2>
{% endif %}
{% endblock %}