{% extends 'index.html' %}
{% block title %}Rapporter{% endblock %}
{% block heading %}Dine rapporter{% endblock %}
{% block description %}{{ menus[0][2].groupName }}{% endblock %}
{% block content %}
<table class="table table-striped table-hover">
{% for menu in menus %}
    <span class="badge badge-secondary"><a href="{{ url_for('reports.ingredients_used_per_week', weeknum=menu[1].weekNumber, year=menu[1].year) }}">{{ menu[1].weekNumber }} - {{ menu[0].name }}</a></span>
{% endfor %}
<br>
<br>
{% if report[0] %}
<h2>{{ report[1].Ukemeny }}</h2>
<h5>Forbruk per ingrediens</h5>
{% for recipe in recipes %}
    <span class="badge badge-secondary"><a href="{{ url_for('reports.ingredients_used_per_week', weeknum=menus[0][2].weekNumber, year=recipe.year, recipe=recipe.idRecipe) }}">{{ recipe[0].name }}</a></span>
{% endfor %}
    <thead>
    <tr>
        <th>Vare</th>
        <th>Forbruk</th>
        <th>Enhet</th>
        <th>Pris </th>
        <th>Kostnad</th>
    </tr>
    </thead>
    <tbody>
    {% for i in report %}
        <tr>
            <td>{{ i.Ingrediens }}</td>
            <td>{{ i.SumMengde }}</td>
            <td>{{ i.Enhet }}</td>
            <td>{{ i.Pris }}</td>
            <td>{{ i.SumBelop }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<h5>Total kostnad: {{ report[0].SumTotal }} </h5>
    {% else %}
    <h2>Velg en ukemeny for å se rapporter</h2>
    {% endif %}
{% endblock %}