{% extends 'base.html' %}
{% block title %}Ukesmeny{% endblock %}
{% block heading %}Ukesmeny{% endblock %}
{% block description %}Se hvilke matretter du har lagt i ukesmenyen{% endblock %}

{% block content %}
    <form method="POST" name="selectFormName"action="{{ url_for('weeklyMenu.ukesmeny') }}" class="row">
        {{ form.csrf_token }}
        <div class="form-group w-25 p-3">{{ formSelect.weeklyIdName(class="form-select", onchange="submit()") }}</div>
    </form>
    <div class="container p-5">

        <h3>Retter som ligger i ukesmenyen</h3>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Matrett</th>
                <th>Antall</th>

            </tr>
            </thead>
            <tbody>


            {% for weeklyMenu in weeklyMenus %}
                <tr>
                    <td class=" w-50 ">
                        {{ weeklyMenu.name }}
                    </td>

                    <td class=" w-50 ">
                        {{ weeklyMenu.expectedConsumption }}
                    </td>

                    <td class=" w-auto ">
                        <a href="#" id="{{ loop.index }}-RemoveFromRecipe" type="button"
                           class="btn btn-outline-primary btn-sm"><i
                                class="bi bi-trash"></i></a>
                    </td>
                </tr>

                <script>
                    document.getElementById("{{ loop.index }}-RemoveFromRecipe").onclick = function () {
                        document.getElementById('{{ loop.index }}-RemoveFromRecipe').href = "/weekly_menu/{{ weeklyMenu.recipe_idRecipe }}/delete";
                    }
                </script>
            {% endfor %}
            </tbody>

        </table>

        <h3 class="mt-5">Legg til i oppskrift</h3>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Matrett</th>
                <th>Antall</th>

            </tr>
            </thead>
            <tbody>


            {% for recipe in recipes %}
                {% if recipe.name not in dishes %}
                    <tr>
                        <td class=" w-50 ">
                            {{ recipe.name }}
                        </td>

                        <td class=" w-50 ">
                            <input type="number" id="{{ loop.index }}-quantityFormAdd" value="1"
                                   class="form-control w-25" min="1"
                                   steps="0.1"/>
                        </td>

                        <td class=" w-auto ">
                            <a href="#" id="{{ loop.index }}-addToRecipe" type="button"
                               class="btn btn-outline-primary btn-sm"><i
                                    class="bi bi-plus"></i></a>
                        </td>

                    </tr>

                    <script>
                        document.getElementById("{{ loop.index }}-addToRecipe").onclick = function () {
                            var getQuantity = document.getElementById('{{ loop.index }}-quantityFormAdd').value;
                            document.getElementById('{{ loop.index }}-addToRecipe').href = "/weekly_menu/{{ recipe.idRecipe }}/" + getQuantity + "/add";
                        }
                    </script>

                {% endif %}
            {% endfor %}
            </tbody>

        </table>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newWeeklyMenuModal">
            Lag en ny ukesmeny
        </button>

        <!-- Modal -->
        <div class="modal fade" id="newWeeklyMenuModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newWeeklyMenuModalLabel">Lag ny ukesmeny</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container mt-5">
                            <div class="row align-items-center">
                                <div class="card p-2 m-auto">
                                    <form method="POST" name="addToWeeklyMenuForm" action="{{ url_for('weeklyMenu.ukesmeny') }}" class="row">
                                        {{ form.csrf_token }}

                                        <div class="row mb-3 g-2 justify-content-center">
                                            <div class="col-sm-9">
                                                {{ form.weekly_name.label(class_="col-form-label") }}
                                                {{ form.weekly_name(class="form-control") }}
                                            </div>
                                        </div>

                                        <div class="row mb-3 g-2 justify-content-center">

                                            <div class="col-sm-9">
                                                {{ form.weekly_desc.label(class_="col-form-label") }}
                                                {{ form.weekly_desc(class="form-control") }}
                                            </div>
                                        </div>


                                        <div class="modal-footer border-0">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            {{ form.submit(class_="btn btn-primary") }}

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}