
{% extends 'base.html' %}
{% block title %}Ukesmeny{% endblock %}
{% block heading %}Ukesmeny{% endblock %}
{% block description %}Se hvilke matretter du har lagt i ukesmenyen{% endblock %}

{% block content %}


        <form method="post" class="row">
        <h3 class="display-5">Se rettene du har lagt i ukesmenyen</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Matrett</th>
                            <th class="w-25 p-3">Antall retter</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Marinert kylling</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
    <div class="card-body">
        <a href="/legg_til_ukesmeny">Legg til ny ukesmeny</a>
    </div>


{% endblock %}