<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Brukernavn</th>
        <th>Email</th>
        <th>Fornavn</th>
        <th>Etternavn</th>
        <th>Gruppe</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user[1].username }}</td>
            <td>{{ user[1].email }}</td>
            <td>{{ user[1].firstname }}</td>
            <td>{{ user[1].lastname }}</td>
            <td>{{ user[0].groupName }}</td>
            <td>{{ user[2].userTypeName }}</td>
            <td>
                <div class="form-group w-100 p-3">
{#                    <form method="POST" action="{{ url_for("auth.groupadmin")   }}">#}
                    <form method="POST" action="/">
                        <input type="hidden" name="ape" value="ape">
                        <input type="hidden" name="katt" value="katt">
                        <div>
                            <button type="submit" class="btn-outline-danger">Meld av gruppe</button>
                        </div>
                    </form>

                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>


